@import url('/assets/css/bootstrap.min.css');
@import url('/assets/css/animate.min.css');
@import url('/assets/css/magnific-popup.css');
@import url('/assets/css/fontawesome-all.min.css');
@import url('/assets/css/swiper-bundle.min.css');
@import url('/assets/css/odometer.css');
@import url('/assets/css/slick.css');
@import url('/assets/css/default.css');
@import url('/assets/css/style.css');
@import url('/assets/css/responsive.css');




html {
    scroll-behavior: smooth;
}

.link-btn {
    cursor: pointer;
}

.ant-modal-content {
    height: auto;
}

.team-member-card {
    width: 350px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.team-member-card .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.332), rgba(0, 0, 0, 0.356));
    z-index: 1;
    border-radius: 20px;
    transition: .3s delay;
}

.team-member-card .overlay:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.429), rgba(0, 0, 0, 0.454));
}

.team-member-card .overlay .details {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.team-member-card .overlay .details h3 {
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 0;
    margin: 0;
}

.team-member-card .overlay .details p {
    font-size: 12px;
    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0;
}

.team-member-card .overlay .details .experiance {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.team-member-card .overlay .details .experiance .item {
    color: whitesmoke;
    font-size: 9px;
    padding: 2px 20px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.team-member-card .overlay .details .experiance .item:hover {
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
}

.team-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    position: relative;
    overflow: hidden;
}

.image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image .overlay .a {
    color: white;
}

.image:hover .overlay {
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.509));
}

.category-btn {
    border: none;
    border: .0625rem solid #ccc;
    border-radius: 0.5em;
    padding: 8px 27px;
    background-color: transparent;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.category-btn-active {
    border: .0625rem solid #ff7220e3;
    background-color: #ff7220e3;
    border-radius: 0.5em;
    padding: 8px 27px;
    /* background-color: transparent; */
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.category-btn-active:hover {
    /* border: 1px solid #ff7220e3;
    background-color: transparent; */
    color: white;
}

.category-btn:hover {
    border: .0625rem solid #ff7220e3;
    color: #ff7220e3;
}

.btn-search {
    background-color: #ff7220e3;
    color: white;
    border-radius: 0.5em;
    padding: 8px 27px;
    font-weight: 500;
    font-size: 14px;
    border: none;
}
.btn-search:hover {
    color: white;
}
.review-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 50px;
}
.accordion-item {
border: none;
background-color: #f1f3f5df;
}
.accordion-item .accordion-button {
    background-color: #f1f3f5df;
    font-weight: 600;
}
@media screen and (max-width: 1000px) {
    .review-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 568px) {
    .review-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
}