.blog-page {
    min-height: 80vh;
    margin-top: 150px;
}

.blog-page .blogs {
    padding: 0px 20px;
}

/* .blog-page .sidebar {
} */

.blog-card {
    width: 100%;
    margin-bottom: 30px;
}

.blog-card .title {
    font-size: 24px;
}

.blog-card .meta {
    display: flex;
    gap: 10px;
}

.blog-card .image {
    margin-top: 20px;
}
.blog-card .image img {
    width: 100%;
    border-radius: 5px;
}
.blog-card .desc {
    margin-top: 20px;
}

.blog-card-sm {
    width: 100%;
    margin-bottom: 20px;
}
.blog-card-sm h2 {
    font-size: 16px;
    margin-top: 10px;
}
.blog-card-sm img {
    border-radius: 5px;
}