.blog-page {
    min-height: 80vh;
    margin-top: 150px;
}

.blog-page .blogs {
    padding: 20px;
}

.blog-page .sidebar {
    border: 1px solid #ccc;
    padding: 20px;
}

.blog-card {
    width: 100%;
}

.blog-card .title {
    font-size: 24px;
}

.blog-card .meta {
    display: flex;
    gap: 10px;
}

.blog-card .image {
    margin-top: 20px;
}
.blog-card .image img {
    width: 100%;
    border-radius: 5px;
}
.blog-card .desc {
    margin-top: 20px;
}